<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="css/slider-menu.jquery.css" rel="stylesheet">
    <link href="css/slider-menu.theme.jquery.css" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/header-block.css">
    <link rel="stylesheet" href="css/header-text.css">
    <link rel="stylesheet" href="css/superbutton.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/reviews.css">
</head>
<body>
    <!-- шапка -->
    <header id="index" class="header">
        <!-- Верхняя шапка -->
        <nav class="header-info">
            <div class="header-info__img">
                <img class="header-info__logo" src="img/logo/main-logo.svg" alt="logo">
            </div>
            <div class="header-info__center">
                <div class="header-info__item">
                    <div class="header-info__item-img">
                        <img src="img/logo/header-fast.svg" alt="clock">
                    </div>
                    <div class="header-info__item-text">
                        <span>Подача эвакуатора</span>
                        <span>30 минут</span>
                    </div>
                </div>
                <div class="header-info__item">
                    <div class="header-info__item-img">
                        <img src="img/logo/header-24hours.svg" alt="24-hours">
                    </div>
                    <div class="header-info__item-text">
                        <span>Работаем 24/7</span>
                        <span>365 дней</span>
                    </div>
                </div>
                <div class="header-info__item">
                    <div class="header-info__item-img">
                        <img src="img/logo/header-wallet.svg" alt="wallet">
                    </div>
                    <div class="header-info__item-text">
                        <span>Цена эвакуатора</span>
                        <span>от<span class="header-info__item-big"> 1000 руб</span></span> 
                    </div>
                </div>
            </div>
            <div class="header-info__contact">
                <div class="header-info__contact-phone">
                    <span>+7</span> <span>(925)</span> <span>666-77-12</span>
                </div>
                <div>
                    <a class="header-info__contact-link" href="tel: +79256667712">Вызвать эвакуатор</a>
                </div>
            </div>
            <!-- кнопки с меню -->
            <div v-if="headerOpen" @click="headerReverse" class="header-info__toggle">&#9776;</div>
            <div v-if="headerClose" @click="headerReverse" class="header-info__toggle">&#10006;</div>
        </nav>
        <!-- Меню -->
        <nav class="header-menu">
            <ul class="header-menu__list">
                <li class="header-menu__item"><a class="header-menu__link" href="#">Эвакуаторы по МО</a></div>
                <li class="header-menu__service" id="click_menu" @mouseover="headerShow = true" @mouseleave="headerShow = false">
                    <a class="header-menu__link" href="#">Услуги</a>
                    <img v-if="!headerShow" class="header-menu__service-img" src="img/symbol/arrow-point-to-down.svg" alt="">
                    <img v-if="headerShow" class="header-menu__service-img" src="img/symbol/arrow-point-to-top.svg" alt="">
                    <ul class="header-menu__service-list" v-if="headerShow">
                        <li class="header-menu__service-item">Эвакуатор легковых автомобилий</li>
                        <li class="header-menu__service-item">Эвакуатор мототехники</li>
                        <li class="header-menu__service-item">Эвакуатор мототехники</li>
                        <li class="header-menu__service-item">Эвакуатор мототехники</li>
                        <li class="header-menu__service-item">Эвакуатор мототехники</li>
                    </ul>
                </div>
                <li class="header-menu__item"><a class="header-menu__link" href="#">Зоны обслуживания</a></li>
                <li class="header-menu__item"><a class="header-menu__link" href="#">О нас</a></li>
                <li class="header-menu__item"><a class="header-menu__link" href="#">Цены</a></li>
                <li class="header-menu__item"><a class="header-menu__link" href="#">Контакты</a></li>
            </ul>
        </nav>
        <!-- Выадающее меню -->
        <nav v-show="headerClose">
            <ul id="my-menu" class="header-burger__list">
                <li class="header-burger__item"><a href="#">Эвакуаторы по МО</a></li>
                <li class="header-burger__item">
                    <a href="#">Услуги</a>
                    <ul class="burger-menu__service-list">
                        <li><a href="">Эвакуатор легковых автомобилий</a></li>
                        <li><a href="">Эвакуатор легковых автомобилий</a></li>
                        <li><a href="">Эвакуатор легковых автомобилий</a></li>
                        <li><a href="">Эвакуатор легковых автомобилий</a></li>
                        <li><a href="">Эвакуатор легковых автомобилий</a></li>
                    </ul>
                </li>
                <li class="header-burger__item"><a href="#">Зоны обслуживания</a></li>
                <li class="header-burger__item"><a href="#">О нас</a></li>
                <li class="header-burger__item"><a href="#">Цены</a></li>
                <li class="header-burger__item"><a href="#">Контакты</a></li>
            </ul>
        </nav>   
        <!-- Телефон -->
        <div v-if="headerOpen" class="header-phone">
            <a class="header-phone__link" href="tel: +79256667712"><span>+7</span> <span>(925)</span> <span>666-77-12</span></a>
        </div>
    </header>
    <!-- затемнение фона -->
    <div id="overlay" class="header-over">
    </div>  
    <!-- хлебнык крошки -->
    <section class="breadcrumbs">
        <div class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="index.html"><img src="img/logo/web-page-home.svg" alt=""></a></li>
            <li class="breadcrumbs__item">Цены</li>
        </div>
    </section>
    <!-- блок с заглавием -->
    <section class="header-block">
        <div class="header-head"> 
            <div class="header-text">
                <p class="header-head__title">отзывы <p class="header-head__title">наших клиентов</p></p>
                <p class="header-head__time">Мы дорожим своей репутацией!</p>
                <div class="btn__superblock" style="text-align: left;">
                    <div class="btn__button">
                        <div class="box clipPolygon btn__btn">
                            <a href="#">Вызвать эвакуатор</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-cart"><img class="header-img" src="img/picture/man.png" alt=""></div>
        </div>
    </section> 
    <!-- главный контент -->
    <section class="layout">
        <!-- блок с текстом возле шапки -->
        <section class="text">
            <div class="text__block">
                <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.        По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                </p>
            </div>
        </section>
        <!-- отзывы -->
        <section class="clients">
            <div class="clients__block">
                <div class="clients__list">
                    <div class="clients__item">
                        <div class="clients__item-img"><img src="img/logo/face.png" alt=""></div>
                        <div class="clients__item-name">Анатолий Борисов</div>
                        <div class="clients__item-rating">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                        </div>
                        <p class="clients__item-text">Не заводится автомобиль? Попали в дорожно-транспортное происшествие? Требуется срочная эвакуация транспортного средства? Наша служба эвакуации автомобилей в Москве предлагает свои услуги в круглосуточном режиме.</p>
                    </div>
                    <div class="clients__item">
                        <div class="clients__item-img"><img src="img/logo/face.png" alt=""></div>
                        <div class="clients__item-name">Анатолий Борисов</div>
                        <div class="clients__item-rating">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                        </div>
                        <p class="clients__item-text">Не заводится автомобиль? Попали в дорожно-транспортное происшествие? Требуется срочная эвакуация транспортного средства? Наша служба эвакуации автомобилей в Москве предлагает свои услуги в круглосуточном режиме.</p>
                    </div>
                    <div class="clients__item">
                        <div class="clients__item-img"><img src="img/logo/face.png" alt=""></div>
                        <div class="clients__item-name">Анатолий Борисов</div>
                        <div class="clients__item-rating">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                        </div>
                        <p class="clients__item-text">Не заводится автомобиль? Попали в дорожно-транспортное происшествие? Требуется срочная эвакуация транспортного средства? Наша служба эвакуации автомобилей в Москве предлагает свои услуги в круглосуточном режиме.</p>
                    </div>
                    <div class="clients__item">
                        <div class="clients__item-img"><img src="img/logo/face.png" alt=""></div>
                        <div class="clients__item-name">Анатолий Борисов</div>
                        <div class="clients__item-rating">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                        </div>
                        <p class="clients__item-text">Не заводится автомобиль? Попали в дорожно-транспортное происшествие? Требуется срочная эвакуация транспортного средства? Наша служба эвакуации автомобилей в Москве предлагает свои услуги в круглосуточном режиме.</p>
                    </div>
                    <div class="clients__item">
                        <div class="clients__item-img"><img src="img/logo/face.png" alt=""></div>
                        <div class="clients__item-name">Анатолий Борисов</div>
                        <div class="clients__item-rating">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                        </div>
                        <p class="clients__item-text">Не заводится автомобиль? Попали в дорожно-транспортное происшествие? Требуется срочная эвакуация транспортного средства? Наша служба эвакуации автомобилей в Москве предлагает свои услуги в круглосуточном режиме.</p>
                    </div>
                    <div class="clients__item">
                        <div class="clients__item-img"><img src="img/logo/face.png" alt=""></div>
                        <div class="clients__item-name">Анатолий Борисов</div>
                        <div class="clients__item-rating">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                            <img src="img/logo/star.svg" alt="">
                        </div>
                        <p class="clients__item-text">Не заводится автомобиль? Попали в дорожно-транспортное происшествие? Требуется срочная эвакуация транспортного средства? Наша служба эвакуации автомобилей в Москве предлагает свои услуги в круглосуточном режиме.</p>
                    </div>
                </div>
                <div class="btn__superblock">
                    <div class="btn__button">
                        <div class="box clipPolygon btn__btn">
                            <a href="#">Посмотреть еще</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- подвал сайта -->
        <footer class="footer">
            <div class="footer__form">
                <div class="footer__fill">
                    <div class="footer__h">Вызвать эвакуатор</div>
                    <div class="footer__describe">Прямо сейчас онлайн:</div>
                    <form class="footer__main" action="POST">
                        <div class="footer__name">
                            <input class="footer__name-fill footer__main-input" type="text" placeholder="Ваше имя" name="name">
                        </div>
                        <div class="footer__num">
                            <input class="footer__num-phone footer__main-input" type="tel" placeholder="Ваш телефон" name="phone">
                        </div>
                        <div class="footer__auto">
                            <input class="footer__auto-type footer__main-input" type="text" name="auto" placeholder="Тип вашего автомобиля">
                            <div class="footer__auto-div"><img class="footer__auto-img" src="img/logo/form-arrowbottom.svg" alt=""></div>
                        </div>
                        <div class="btn__superblock">
                            <div class="btn__button">
                                <div class="box clipPolygon btn__btn">
                                    <input type="submit" value="Вызвать">
                                </div>
                            </div>
                        </div>
                        <p class="footer__user">Нажимая на кнопку ВЫЗОВ вы соглашаетесь с 
                            <a class="footer__user-link" href="#">политикой кондефициальности</a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="wrapper">
                <div class="wrapper__up">
                    <div>
                        <img class="wrapper__logo" src="img/logo/main-logo.svg" alt="">
                    </div>
                    <div class="wrapper__menu">
                        <nav class="wrapper__service">
                            <span class="wrapper__title">Наши разделы</span>
                            <hr>
                            <div class="wrapper__service-list">
                                <div class="wrapper__service-list-one">
                                    <li class="wrapper__service-item">Цены</li>
                                    <li class="wrapper__service-item">Услуги</li>
                                    <li class="wrapper__service-item">Контакты</li>
                                </div>
                                <div>
                                    <li class="wrapper__service-item">Зона обслуживания</li>
                                    <li class="wrapper__service-item">Блог</li>
                                </div>
                            </div>
                        </nav>
                        <nav class="wrapper__contacts">
                            <span class="wrapper__title">Наши контакты</span>
                            <hr>
                            <div class="wrapper__contacts-list">
                                <li class="wrapper__contacts-item">
                                    <img src="img/logo/footer-localizer.svg" alt="">
                                    <span>г.Королев ул.Космонавта 24к1</span>
                                </li>
                                <li class="wrapper__contacts-item">
                                    <img src="img/logo/footer-message.svg" alt="">
                                    <span>korolev@mail.ru</span>
                                </li>
                                <li class="wrapper__contacts-item">
                                    <img src="img/logo/footer-phonecall.svg" alt="">
                                    <span>8 (925) 666-77-42</span>
                                </li>
                                <li class="wrapper__contacts-item">
                                    <img src="img/logo/footer-24hours.svg" alt="">
                                    <span>Работаем круглосуточно</span>
                                </li>
                            </div>
                        </nav>
                        <nav class="wrapper__social">
                            <span class="wrapper__title">Мы в соцсетях</span>
                            <hr>
                            <div class="wrapper__social-icon">
                                <a href="#"><img src="img/socials/insta.svg" alt=""></a>
                                <a href="#"><img src="img/socials/vk.svg" alt=""></a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="wrapper__copyright">
                    <span class="wrapper__text">&copy; 2019 evakuator-korolev.org</span>
                    <div class="wrapper__text">Политика кондефициальности</div>
                    <div class="wrapper__text">Создание и продвижение сайта в Saygona</div>
                </div>
            </div>
        </footer>
    </section>
    <!-- скрипты -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="script/slider-menu.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/header.js"></script>
</body>
</html>